ion-avatar {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

ion-icon {
    cursor: pointer;
    font-size: 16px;
  }

#imgCard {
    max-height: 50%;
}

.btnColor {
    --background: #cc6b41;
}