<ion-header>
  <ion-toolbar class="cabecera ion-text-center">
    <ion-icon name="home-outline" slot="start" class="inicio" (click)="irInicio();"></ion-icon>
    <ion-title>Contraseña</ion-title>
    <!--Imagen de usuario logueado-->
    <ion-avatar slot="end" id="usu" button (click)="mostrarMenu()">
      <img
        src="{{ usuarioAutenticado != null && usuarioAutenticado.img != null ? 'data:image/png;base64,' + usuarioAutenticado.img : 'assets/img/genericUser.jpg'}}"
        alt="Imagen usuario"
      />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size-lg="6">
        <ion-card>
          <img src="../../../assets/img/changePass.jpg" id="imgCard"/>
          <ion-card-content>
            <form [formGroup]="passForm" *ngIf="this.passForm">
              <!-- Pass actual -->
              <ion-item>
                <ion-label position="floating">Contraseña actual</ion-label>
                <ion-input
                [type]="isHidden1 ? 'password' : 'text'"
                  formControlName="oldPass"
                ></ion-input>
                <ion-icon
                  [name]="isHidden1 ? 'eye' : 'eye-off'"
                  slot="end"
                  (click)="isHidden1 = !isHidden1"
                  class="iconoOcultarPass"
                ></ion-icon>
                <div>
                  <ng-container
                    *ngIf="passForm.get('oldPass').hasError('required') && (passForm.get('oldPass').touched || passForm.get('oldPass').dirty)"
                  >
                    Campo obligatorio
                  </ng-container>
                </div>
              </ion-item>

              <!-- Pass nueva -->
              <ion-item>
                <ion-label position="floating">Nueva contraseña</ion-label>
                <ion-input
                [type]="isHidden2 ? 'password' : 'text'"
                  formControlName="newPass"
                ></ion-input>
                <ion-icon
                  [name]="isHidden2 ? 'eye' : 'eye-off'"
                  slot="end"
                  (click)="isHidden2 = !isHidden2"
                  class="iconoOcultarPass"
                ></ion-icon>
                <div>
                  <ng-container
                    *ngIf="passForm.get('newPass').hasError('required') && (passForm.get('newPass').touched || passForm.get('newPass').dirty)"
                  >
                    Campo obligatorio
                  </ng-container>
                </div>
              </ion-item>

              <!-- Confirmar pass -->
              <ion-item>
                <ion-label position="floating">Confirmar contraseña</ion-label>
                <ion-input
                [type]="isHidden3 ? 'password' : 'text'"
                  formControlName="confirmPass"
                ></ion-input>
                <ion-icon
                  [name]="isHidden3 ? 'eye' : 'eye-off'"
                  slot="end"
                  (click)="isHidden3 = !isHidden3"
                  class="iconoOcultarPass"
                ></ion-icon>
                <div>
                  <ng-container
                    *ngIf="passForm.get('confirmPass').hasError('required') && (passForm.get('confirmPass').touched || passForm.get('confirmPass').dirty)"
                  >
                    Campo obligatorio
                  </ng-container>
                </div>
              </ion-item>

              <ion-button
                color="success"
                class="btnColo"
                expand="block"
                [disabled]="passForm.invalid"
                (click)="update();"
                >Cambiar</ion-button
              >
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Footer->
<ion-footer>
  <ion-toolbar>
    <!-- Gestor opciones ->
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="ion-justify-content-around">
        <ion-tab-button (click)="irInicio();">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    <!-- Fin gestor opciones
  </ion-toolbar>
</ion-footer> -->
