ion-avatar {
    max-width: 40px;
    max-height: 40px;
    margin-right: 5vw;
}

ion-icon {
    cursor: pointer;
    font-size: 16px;
  }

#imgCard {
    max-height: 50%;
}

.btnColor {
    --background: #cc6b41;
}

.cabecera {
     --background: #cc6b41;
     color: white;
 }

.inicio {
    margin-left: 5vw;
    font-size: 20px;
}

.iconoOcultarPass {
    font-size: 16px;
    padding-top: 4vh;
    cursor: pointer;
}

@media (min-width: 992px) {
    .iconoOcultarPass {
        font-size: 16px;
        padding-top: 3vh;
        cursor: pointer;
    }
}
