<ion-header>
  <ion-toolbar>
    
    <ion-title>Editor traducción</ion-title>
    <ion-icon name="arrow-back-outline" (click)="irInicioTraductor();"></ion-icon>
    <!--Imagen de usuario logueado-->
    <ion-avatar slot="end" id="usu" button (click)="mostrarMenu()">
      <img
        src="{{ usuarioAutenticado != null && usuarioAutenticado.img != null ? 'data:image/png;base64,' + usuarioAutenticado.img : 'assets/img/genericUser.jpg'}}"
        alt="Imagen usuario">
    </ion-avatar>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar value="{{porcentaje/(segmentos.length-1)}}"></ion-progress-bar>
  <!-- Tarjeta para contener todos los items -->
  <ion-card>
    <ion-card-content>
      <form>
        <!--Primera fila para character matching y boton generar trad-->
        <ion-row>
          <!--Col para character-->
          <ion-col size-lg="8">
            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ion-label position="stacked">Charcter matching</ion-label>
                  <ion-input type="text" placeholder="Ej. Adam"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="1" class="ion-align-self-center ion-text-center">
                <ion-icon name="color-wand-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
          <!--Col para boton-->
          <ion-col size-lg="4" class="ion-align-self-center">
            <ion-button expand="block" color="tertiary"><span class="ion-hide-lg-down">Generar traducción</span>
              <ion-icon name="cloud-download-outline" class="ion-padding-horizontal"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <!--<ion-item-divider></ion-item-divider>-->
        <!--Segunda fila para segmento TO-->
          <!-- flecha nav, tabla, flecha nav-->
          <ion-row style="padding-top: 3%;">
            <ion-col size="1" class="ion-align-self-start ion-text-left"><ion-icon name="chevron-back-outline" button (click)="irASegmentoAnterior()"></ion-icon></ion-col>
            <ion-col size="10">
              <table style="width: 100%;">
                <tr>
                  <th size="11">TO</th>
                  <th size="1">Character</th>
                </tr>

                <tr >
                  <!-- Espacio para traduccion-->
                  <td size="11" style="padding-top: 5%;">
                      <ion-label>{{segmentoActual.textoLO}}</ion-label>
                  </td>
                  <td size="1" class="ion-text-center" style="padding-top: 5%;">
                    <!-- Add, delete-->
                    <ion-icon name="add-outline"></ion-icon> <!-- style="color: rgb(28, 124, 28);"  -->
                    <ion-icon name="close-outline" style="color: rgb(148, 20, 20);"></ion-icon>
                  </td>
                </tr>
              </table>
            </ion-col>
            <ion-col size="1" class="ion-align-self-start ion-text-end"><ion-icon name="chevron-forward-outline" button (click)="irASiguienteSegmento()" id="siguiente" ></ion-icon></ion-col>
          </ion-row>
      <!-- <ion-item-divider></ion-item-divider>-->
        <!-- Tercera fila TM, traduccion-->
        <ion-row>
          <!-- Titulo, cabecera-->
          <ion-col size="12" style="margin-top: 2%;">
            <ion-row>
              <ion-col size="9" class="ion-text-center">
                <span style="font-weight: bold;">TM</span>
              </ion-col>
              <ion-col size="3"  class="ion-text-center">
                <ion-icon name="language-outline" class="text-tertiary" button (click)="generarTraduccion();"></ion-icon>
              </ion-col>
            </ion-row>

          </ion-col>
          <!-- Espacio para traduccion-->
          <ion-col size="11" style="margin-left: 5%;"> <!--class="borde" -->
            <ion-item>
            <div *ngIf="segmentoActual.textoLM != null; else noTrad" id="inputTrad">
              <ion-input #trad type="text" [contentEditable]="true" value="{{segmentoActual.textoLM}}"></ion-input>
              
            </div>
            <ng-template #noTrad>
              <ion-input type="text" placeholder="Translate here"></ion-input>
            </ng-template>
           </ion-item>
          </ion-col>
          <!-- Administracion de personajes-->
          <ion-col size="12">
            <!-- Fila pra 1 columna select, 2 columna iconos, 3 columna btn aceptar-->
            <ion-row>
              <!-- Select -->
              <ion-col size="9">
                <ion-item>
                  <ion-label>Characters</ion-label>
                  <ion-select value="rol">
                    <ion-select-option value="1" selcted>Personaje 1</ion-select-option>
                    <ion-select-option value="2">Personaje 2</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <!-- Iconos -->
              <ion-col size="3" class="ion-align-self-center ion-text-center">
                <ion-icon name="add-circle"></ion-icon>
                <ion-icon name="build"></ion-icon>
              </ion-col>
              <!-- Btn
              <ion-col size="3" class="ion-justify-content-end">
                <ion-button color="tertiary">OK</ion-button>
              </ion-col> -->
            </ion-row>
          </ion-col>
        </ion-row>
        
        <!--<ion-item-divider></ion-item-divider>-->
        <!-- Cuarta fila glosario -->
        <ion-row class="borde">
          <!-- Busqueda -->
          <ion-col size="12">
            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ion-label position="floating">Glosario</ion-label>
                  <ion-input></ion-input>
                </ion-item>
                <!--<ion-input type="text" placeholder="Buscar en glosario interno"></ion-input>-->
              </ion-col>
              <ion-col size="2" class="ion-align-self-center ion-text-lg-center">
                <ion-icon name="search-outline"></ion-icon>
              </ion-col>
            </ion-row>
            
          </ion-col>
          <!-- Resultado -->
          <ion-col size="12">
            <ion-input placeholder="Aquí va el resultado de la bbdd"></ion-input>
          </ion-col>
          <!-- Add new-->
          <ion-col size="12">
            <ion-row>
              <ion-col size-lg="">
                <ion-item>
                  <ion-label position="floating">Termino LO</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-lg="1" class="ion-hide-lg-down ">
                <ion-row class="ion-justify-content-center ">
                  <ion-icon name="arrow-forward-outline" style="margin-top: 15px;"></ion-icon>
                </ion-row>
              </ion-col>
              <ion-col size-lg="">
                <ion-item>
                  <ion-label position="floating">Termino LM</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-lg="1" class="ion-align-self-center ion-text-center" style="color: green;">
                <ion-icon name="checkmark-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <!-- Quinta fila comentarios -->
        <ion-row class="borde" style="margin-top: 2%;">
          <ion-col size="12" class="ion-justify-content-center">
            <ion-item>
              <h2 style="font-weight: bolder; color: #737373;">Comentarios</h2>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <p class="ion-padding-horizontal">{{proyectoActual.comentarios}}</p>
          </ion-col>
          <ion-col size="12">
            <ion-textarea placeholder="Anadir comentarios"></ion-textarea>
          </ion-col>
        </ion-row>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>

<!--<ion-footer>
  <ion-toolbar>
    <ion-tabs>

      <ion-tab-bar slot="bottom" class="ion-justify-content-around">
         <ion-tab-button tab="listado-proyectos-gestor" (click)="irEditor();">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab2" (click)="irInicioTraductor();">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </ion-toolbar>

</ion-footer>-->