ion-avatar {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

ion-icon {
    font-size: 24px;
    cursor: pointer;
}

.borde {
    border: solid 0.1px rgb(223, 218, 218);
}

ion-progress-bar {
    --background: #ddf1d2;
    --progress-background: #1c8308;
    --buffer-background: var(--background);
    display: block;
    position: relative;
    width: 100%;
    contain: strict;
    direction: ltr;
    overflow: hidden;
}

ion-item-divider {
    margin-bottom: 2%;
}
