<ion-header>
  <ion-toolbar>
    
    <ion-title>Editor traducción</ion-title>
    
    <!--Imagen de usuario logueado-->
    <ion-avatar slot="end" id="usu" button (click)="mostrarMenu()">
      <img
        src="{{ usuarioAutenticado != null && usuarioAutenticado.img != null ? 'data:image/png;base64,' + usuarioAutenticado.img : 'assets/img/genericUser.jpg'}}"
        alt="Imagen usuario">
    </ion-avatar>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar value="{{porcentaje/(segmentos.length-1)}}"></ion-progress-bar>
  <!-- Tarjeta para contener todos los items -->
  <ion-card>
    <ion-card-content>
      <form id="formPrincipal">
      <!--<ion-icon name="arrow-back-outline" (click)="irInicioTraductor();"></ion-icon>-->
        <!--Primera fila para character matching y boton generar trad
        <ion-row>
          <!-Col para boton->
          <ion-col class="ion-align-self-center">
            <ion-button expand="block" color="tertiary"><span class="ion-hide-lg-down">Generar traducción</span>
              <ion-icon name="cloud-download-outline" class="ion-padding-horizontal"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>-->
        <!--Segunda fila para segmento TO-->
          <!-- flecha nav, tabla, flecha nav-->
          <ion-row style="padding-top: 3%;">
            <ion-col size="1" class="ion-align-self-start ion-text-left"><ion-icon name="chevron-back-outline" button (click)="irASegmentoAnterior();"></ion-icon></ion-col>
            <ion-col size="10" style="display:flex; justify-content:center; font-weight: bold;">
              TO
            </ion-col>
            <ion-col size="1" class="ion-align-self-start ion-text-end"><ion-icon name="chevron-forward-outline" button (click)="irASiguienteSegmento();" id="siguiente" ></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item style="background-color: rgb(211, 94, 94);" *ngIf="segmentoActual">
                <ion-textarea
                rows="8"
                  readonly
                  value="{{segmentoActual.textoLO}}">
                </ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>

        <!-- Tercera fila TM, traduccion-->
        <ion-row style="margin-top: 2%;">
          <!-- Titulo, cabecera-->
          <ion-col size="12" >
            <ion-row>
              <ion-col size="11" class="ion-text-center">
                <span style="font-weight: bold; padding-left: 8vw;">TM</span>
              </ion-col>
              <ion-col size="1"  class="ion-text-center">
                <ion-icon name="language-outline" color="secondary" class="text-tertiary" button (click)="generarTraduccion();"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- Fin titulo, cabecera -->

          <!-- Espacio para traduccion-->
          <ion-col size="12"> <!--class="borde" -->
            <form id="tmForm">
              <ion-item *ngIf="segmentoActual">
                <ion-textarea id="traduccion"
                  rows="8"
                  value="{{segmentoActual.textoLM}}">
                </ion-textarea> 
              </ion-item>
            </form>
          </ion-col>
          <!-- Fin espacio traduccion -->          
        </ion-row>
        
        <ion-item-divider></ion-item-divider>

        <!-- Cuarta fila glosario -->
        <ion-row class="borde">
          <!-- Busqueda -->
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Glosario</ion-label>
              <ion-input id="inputBusquedaGlosario" list="equivalencias" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text" placeholder="Buscar en glosario" required="true"
              (ionChange)="buscarEnGlosario();"></ion-input>
              <ion-icon name="search-outline" color="" slot="end" class="ion-align-self-center ion-text-lg-center"></ion-icon>
            </ion-item>
          </ion-col>
          <!-- Resultado -->
          <ion-col size="12">
            <!--<ion-input placeholder="Aquí va el resultado de la bbdd"></ion-input>-->
            <ion-item style="background-color: rgb(211, 94, 94);" *ngIf="glosarioActual">
              <ion-textarea
                disabled
                readonly
                value="{{glosarioActual.terminoLO}}: {{glosarioActual.terminoLM}}">
              </ion-textarea>
            </ion-item>
            <ion-item style="background-color: rgb(211, 94, 94);" *ngIf="noCoincidencia">
              <ion-textarea
                disabled
                readonly
                value="No se han encontrado coincidencias">
              </ion-textarea>
            </ion-item>
          </ion-col>
          <!-- Add new-->
          <ion-col size="12"><form [formGroup]="glosarioForm" id="glosForm">
            <ion-row>
              
                <ion-col size-lg="5">
                  <ion-item>
                    <ion-label position="floating">Término LO</ion-label>
                    <ion-input type="text" formControlName="terminoO"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-lg="1" class="ion-hide-lg-down ">
                  <ion-row class="ion-justify-content-center ">
                    <ion-icon name="arrow-forward-outline" style="margin-top: 15px;"></ion-icon>
                  </ion-row>
                </ion-col>
                <ion-col size-lg="5">
                  <ion-item>
                    <ion-label position="floating">Término LM</ion-label>
                    <ion-input type="text" formControlName="terminoM"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-lg="1" class="ion-align-self-center ion-text-center" style="color: green;">
                  <ion-icon name="checkmark-outline" (click)="glosarioConfirm();"></ion-icon>
                </ion-col>
              
            </ion-row></form>
          </ion-col>
        </ion-row>

        <!-- Quinta fila comentarios -->
        <ion-row class="borde" style="margin-top: 2%;">
          <ion-col size="12" class="ion-justify-content-center">
            <ion-item>
              <h2 style="font-weight: bolder; color: #737373;">Comentarios</h2>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <!--<p class="ion-padding-horizontal" *ngIf="proyectoActual">{{proyectoActual.comentarios}}</p>-->
            <p *ngFor="let c of listaComentarios" class="paddingComentarios">{{c}}</p>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-textarea placeholder="Anadir comentarios" id="textAreaComentarios"></ion-textarea>
              <ion-icon style="display: flex; justify-self: end;" color="secondary" name="send" class="ion-align-self-center ion-text-lg-center" (click)="confirmCom();"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

      <ion-row>
        <!--Col para boton-->
        <ion-col class="ion-align-self-center">
          <ion-button expand="block" color="success" [disabled]="!isFinished"><span class="ion-hide-lg-down">Generar traducción</span>
            <ion-icon name="cloud-download-outline" class="ion-padding-horizontal"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>

      <ion-tab-bar slot="bottom" class="ion-justify-content-around">
         <ion-tab-button>
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="irInicioTraductor();">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </ion-toolbar>

</ion-footer>