ion-avatar {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

ion-icon {
    font-size: 16px;
    cursor: pointer;
}

.borde {
    border: solid 0.1px rgb(223, 218, 218);
}

ion-progress-bar {
    --background: #ddf1d2;
    --progress-background: #1c8308;
    --buffer-background: var(--background);
    display: block;
    position: relative;
    width: 100%;
    contain: strict;
    direction: ltr;
    overflow: hidden;
}

ion-item-divider {
    margin-bottom: 2%;
}

#glosForm{
    width: 100%;
}

.paddingComentarios {
    padding-left: 3vw;
    padding-right: 3vw;
}

.iconoEnviar {
    display: flex; 
    justify-self: end;
    color: #cc6b41;
}

#iconoTrad {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cabecera {
    --background: #cc6b41;
    color: white;
}

.inicio {
   margin-left: 5vw;
   font-size: 24px;
}

/*@media (min-width: 992px) {
    #iconoTrad {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}*/


