<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>ScripTrad </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-card class="ion-justify-content-center">
          <!--background-color: #EBECED;-->
          <div class="ion-justify-content-center">
          </div>

          <ion-card-header>
            <ion-card-title> Login </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="loginForm">
              <ion-item class="item-content">
                <ion-label position="floating">Usuario</ion-label>
                <ion-input type="text" formControlName="usuario"></ion-input>
                <div>
                  <ng-container
                    *ngIf="loginForm.get('usuario').hasError('required') && (loginForm.get('usuario').touched || loginForm.get('usuario').dirty)"
                  >
                    Campo obligatorio
                  </ng-container>
                </div>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input
                  [type]="isHidden ? 'password' : 'text'"
                  formControlName="pass"
                ></ion-input>
                <ion-icon
                  [name]="isHidden ? 'eye' : 'eye-off'"
                  slot="end"
                  (click)="isHidden = !isHidden"
                  class="iconoOcultarPass"
                ></ion-icon>

                <div>
                  <ng-container
                    *ngIf="loginForm.get('pass').hasError('required') && (loginForm.get('pass').touched || loginForm.get('pass').dirty)"
                  >
                    Campo obligatorio
                  </ng-container>
                </div>
              </ion-item>
            </form>

            <!-- Opciones con a -->
            <div class="ion-text-center ion-margin-top">
                <a
                button
                (click)="passForgotten();"
                
                class="linkFontSize "
              >
                ¿Has olvidado tu contraseña?
                
              </a></div>
              <div class="ion-text-center ion-margin-bottom">
              <a
                button
                (click)="irRegistro();"
                
                class="linkFontSize "
              >
              Registrarme
                
              </a>
            </div>
            
            <!-- Fin opciones con a -->
            <!--Boton acceso-->
            <ion-button
              [disabled]="waiting || loginForm.invalid"
              (click)="autenticaUsuario()"
              expand="block"
              color="success"
              class="fontBtn"
              >Acceder <ion-spinner *ngIf="waiting"></ion-spinner>
            </ion-button>
            <!-- <ion-item-divider></ion-item-divider> -->

            <!--Botones de inicio con Google y Facebook
            <ion-button expand="block" color="tertiary" style="margin-top: 20px" class="fontBtn"
              ><ion-icon
                name="logo-facebook"
                style="padding-right: 5px"
              ></ion-icon
              >Continuar con Facebook</ion-button
            >-->
            <ion-button expand="block" class="fontBtn" (click)="loginGoogle();"
              ><ion-icon
                name="logo-google"
                style="padding-right: 5px;"
              ></ion-icon
              >Continuar con Google</ion-button
            >
            <!--<ion-button expand="block" class="fontBtn" (click)="signOutGoogle();"
              ><ion-icon
                name="logo-google"
                style="padding-right: 5px;"
              ></ion-icon
              >Sign out Google</ion-button
            > -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
