#contra {
    color: rgb(0, 60, 255);
    text-decoration: underline
}

.iconoOcultarPass {
    font-size: 16px;
    padding-top: 2vh;
    cursor: pointer;
}

.fontBtn {
    font-size: small;
}

ion-toolbar {
    //--background: rgba(171, 137, 90, 0.837);//#c43e50;//#910719;
    --background: #cc6b41;//#c43e50;//#910719;
    color: white//#801c2a;
}

ion-col {
    padding-inline-end: 0;
    padding-inline-start: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3vh;
}

ion-card {
    background-color: rgba(245, 245, 245, 0.329);
}



ion-item {
    //--ion-item-background: rgba(245, 245, 245, 0.452);
    --ion-item-background: transparent;
}

ion-grid {
    height: 95vh;
    background-image: url('../../../assets/img/bgChicaRecortado.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.linkFontSize {
    color: rgb(0, 60, 255); 
    text-decoration: underline;
    font-size: small;
    cursor: pointer;
}

a:hover{
    color: rgb(9, 43, 156);
}