<ion-header>
  <ion-toolbar>
    <!--
    <ion-thumbnail slot="start">
      <ion-img [src]="assets/icon/favicon.png"></ion-img>
    </ion-thumbnail>-->
    <ion-title>ScripTrad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>
        <ion-icon name="mail-outline"></ion-icon>Login
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" formControlName="usuario"></ion-input>
          <ng-container *ngIf="loginForm.controls.usuario.errors != undefined">
            <div class="errorEnValidacion" *ngIf="loginForm.controls.usuario.errors.required">Campo obligatorio
            </div>
          </ng-container>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <ng-container *ngIf="loginForm.controls.pass.errors != undefined">
            <div class="errorEnValidacion" *ngIf="loginForm.controls.pass.errors.required">Campo obligatorio
            </div>
          </ng-container>
        </ion-item>
      </form>
      <!--(click)="autenticaUsuario()"-->
      <ion-button [disabled]="waiting || loginForm.invalid" expand="block">Acceder <ion-spinner *ngIf="waiting"
          color="success"></ion-spinner>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
