<ion-header>
  <ion-toolbar>
    <ion-title>crearProyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Aqui deberian aparecer los slides para crear un nuevo proyecto y asiganarlo
</ion-content>
<ion-footer>
  <ion-toolbar >
    <ion-tabs>
  
      <ion-tab-bar slot="bottom" class="ion-justify-content-around">
        <ion-tab-button tab="listado-proyectos-gestor" (click)="crearNuevoProyecto();">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="tab2" (click)="irInicioGestor();">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
    <!--
        <ion-tab-button tab="tab3">
          <ion-icon name="menu-outline"></ion-icon>
          
        </ion-tab-button>-->
      </ion-tab-bar>
    
    </ion-tabs>
  </ion-toolbar>

</ion-footer>