ion-avatar {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

ion-badge {
    border-radius: 50%;
    background-color: blueviolet;
    padding-right: 5px;
    margin-right: 20px;
    font-size: 0.7rem;
}
/*
ion-col{
    margin-left: 5%;
    margin-top: 3%;
}*/