ion-avatar {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

ion-badge {
    border-radius: 50%;
    //background-color: --success;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 20px;
    font-size: 0.7rem;
}
ion-datetime {
  background-color: white;
}

ion-icon {
  cursor: pointer;
  font-size: 16px;
}

.cabecera {
  --background: #cc6b41;
  color: white;
}

.inicio {
 margin-left: 5vw;
 font-size: 20px;
}
