.cabecera {
    --background: #cc6b41;
    color: white;
}

.inicio {
   margin-left: 5vw;
   font-size: 20px;
}

ion-col {
    padding-inline-end: 0;
    padding-inline-start: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3vh;
}


ion-card {
    background-color: rgba(245, 245, 245, 0.644);
}



ion-item {
    //--ion-item-background: rgba(245, 245, 245, 0.452);
    --ion-item-background: transparent;
}

ion-grid {
    height: 95vh;
    background-image: url('../../../assets/img/bgRegistro2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}