ion-avatar {
    max-width: 40px;
    max-height: 40px;
    margin: 10px;
    
}

ion-thumbnail {
    max-width: 40px;
    max-height: 25px;
}

.imgIdiomas {
    display: block; 
    border: none;
    border-style: none !important;
}