<ion-header>
  <ion-toolbar class="cabecera ion-text-center">
    <ion-icon name="add" slot="start" class="inicio"></ion-icon>
    <ion-title>Encargos</ion-title>
    <!--Imagen de usuario logueado-->
    <ion-avatar slot="end" id="usu" button (click)="mostrarMenu()">
      <img src="{{ usuarioAutenticado != null && usuarioAutenticado.img != null ? 'data:image/png;base64,' + usuarioAutenticado.img : 'assets/img/genericUser.jpg'}}" alt="Imagen usuario">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--toolbar para ver distintas clasificaciones de proyectos, nuevos, terminados -->
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged()" value="urgente">
      <ion-segment-button value="urgente">
        <ion-label>Urgente</ion-label>
      </ion-segment-button>
      <ion-segment-button value="todos">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <div *ngIf="totalProyectos == 0 && selected == 1" class="ion-text-center ion-padding-horizontal ion-padding-top">   
    <h2>No hay traducciones urgentes pendientes, ¡buen trabajo!</h2>
    <p id="quote"></p>
  </div>

  <!-- Creo un ion-list, cada mensaje será un ion-item -->
<ion-list *ngIf="totalProyectos > 0" id="list">
  <!-- Creo un ion-item por cada elemento del array "mensajes" //  (click)="detalleMensaje(mensaje)" class="{{mensaje.leido ? '' : 'noLeido'}}"-->
  <ion-item *ngFor="let proyecto of proyectos" >
    <!--Imagenes de los idiomas involucrados en la traduccion-->
    <div class="ion-wrap" >
      <ion-thumbnail slot="start" style="margin-right: 2vw;">
        <img src="{{ proyecto.lo.img != null ? 'data:image/png;base64,' + proyecto.lo.img : 'assets/img/genericUser.jpg'}}" alt="">
      </ion-thumbnail>
      
      <!--<ion-icon name="arrow-forward-outline" slot="start" style="margin-right: 1%;"></ion-icon> -->
      <ion-thumbnail slot="start">
        <img src="{{ proyecto.lm.img != null ? 'data:image/png;base64,' + proyecto.lm.img : 'assets/img/genericUser.jpg'}}" alt="">
      </ion-thumbnail>
    </div>
    
    <ion-label class="infoSize" button (click)="mostrarInformacion(proyecto)">
      <ion-text>
        <ion-label>{{proyecto.titulo}}</ion-label>
        <ion-label style="color: rgba(46, 46, 48, 0.788); font-weight: bold;">Info</ion-label>
        
      </ion-text>
  </ion-label>
  <div class="ion-text-center">
    <!-- Utilizo un pipe de tipo date para la fecha del mensaje -->
    
      <ion-note id="note" >{{proyecto.fechaEntrega | date:'dd/MM/YY'}}</ion-note>
  
      <!--<ion-icon name="pencil-outline" style="padding-left: 5px;" (click)="irEditor(proyecto)"></ion-icon>-->
      <img src="../../../assets/icon/edit2.png" alt="traducir" button (click)="irEditor(proyecto);" id="iconoEdit">
    
    
  </div>
 <!-- <ion-row class="ion-text-center">
      <!- Utilizo un pipe de tipo date para la fecha del mensaje ->
      <ion-col size-lg="6">
        <ion-note id="note" >{{proyecto.fechaEntrega | date:'dd/MM/YY'}}</ion-note>
      </ion-col>
      <ion-col size-lg="6">
        <ion-icon name="pencil-outline" style="padding-left: 2%; margin-left: 2%;" (click)="irEditor(proyecto)"></ion-icon>
      </ion-col>
      
  </ion-row>-->
  </ion-item>
</ion-list>


<!-- Un ion-infinite-scroll simplemente vigila el momento en que llegamos hasta el final
  de la lista. Cuando se llega, se dispara un evento, se muestra un mensaje y una animación.
  El evento lanzado llama a un método para cargar más mensajes.-->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="scrollInfinito($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando proyectos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!--
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="ion-justify-content-around">
        <ion-tab-button (click)="irEditorConPrimerProyectoDeLista();">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-tab-button>
        
        <ion-tab-button (click)="irInicioTraductor();">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>-->