ion-avatar {
    max-width: 40px;
    max-height: 40px;
    margin: 10px;
    
}

.cabecera {
    --background: rgba(171, 137, 90, 0.837);//#c43e50;//#910719;
    color: white//#801c2a;
}

ion-icon {
    cursor: pointer;
    font-size: 16px;
}

ion-thumbnail {
    max-width: 40px;
    max-height: 25px;
}

.imgIdiomas {
    display: block; 
    border: none;
    border-style: none !important;
}