<ion-header>
  <ion-toolbar>
    <ion-title>ScripTrad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Reestablecer contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="passForm" *ngIf="this.passForm">
          <!-- Pass actual -->
          <ion-item>
            <ion-label position="floating">Nueva contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <div>
              <ng-container
                *ngIf="passForm.get('password').hasError('required') && (passForm.get('password').touched || passForm.get('password').dirty)"
              >
                Campo obligatorio
              </ng-container>
            </div>
          </ion-item>

          <!-- Pass nueva -->
          <ion-item>
            <ion-label position="floating">Confirma contraseña</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
            <div>
              <ng-container
                *ngIf="passForm.get('confirmPassword').hasError('required') && (passForm.get('confirmPassword').touched || passForm.get('confirmPassword').dirty)"
              >
                Campo obligatorio
              </ng-container>
            </div>
          </ion-item>
          
          <ion-button color="primary" expand="block" [disabled]="passForm.invalid" (click)="update();">Confirmar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>

