<ion-header>
  <ion-toolbar>
    <ion-title>ScripTrad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Reestablecer contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="passForm" *ngIf="this.passForm">
          <!-- Pass 1 -->
          <ion-item>
            <ion-label position="floating">Nueva contraseña</ion-label>
            <ion-input [type]="isHidden1 ? 'password' : 'text'" formControlName="password"></ion-input>
            <ion-icon
                  [name]="isHidden1 ? 'eye' : 'eye-off'"
                  slot="end"
                  (click)="isHidden1 = !isHidden1"
                  class="iconoOcultarPass"
                ></ion-icon>
            <div>
              <ng-container
                *ngIf="passForm.get('password').hasError('required') && (passForm.get('password').touched || passForm.get('password').dirty)"
              >
                Campo obligatorio
              </ng-container>
            </div>
          </ion-item>

          <!-- Pass repetir -->
          <ion-item>
            <ion-label position="floating">Confirma contraseña</ion-label>
            <ion-input [type]="isHidden2 ? 'password' : 'text'" formControlName="confirmPassword"></ion-input>
            <ion-icon
                  [name]="isHidden2 ? 'eye' : 'eye-off'"
                  slot="end"
                  (click)="isHidden2 = !isHidden2"
                  class="iconoOcultarPass"
                ></ion-icon>
            <div>
              <ng-container
                *ngIf="passForm.get('confirmPassword').hasError('required') && (passForm.get('confirmPassword').touched || passForm.get('confirmPassword').dirty)"
              >
                Campo obligatorio
              </ng-container>
            </div>
          </ion-item>
          
          <ion-button color="success" expand="block" [disabled]="passForm.invalid" (click)="update();">Confirmar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>

